<div class='wrapper'>

	<div class='logo' />

	<div class='landing'>
		<div class='message'>
			LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPSCING ELIT. IN A MATTIS QUAM.
		</div>
	</div>

	<div class='instructions'>
		<div class='first'>
			Pick a BPM and a drum kit and ready yourself for the <br/> consequences of world-wide fame.
		</div>
		<div>
			Each song contains eight slots which correspond to eight beats per measure. <br />
			<img src='assets/images/instructions-track.png' class='img-track' />
		</div>
		<div>
			Tap the square next to the drum to SELECT the BEAT velocity OR TAP THE DRUM TO MUTE THE TRACK <br />
			<img src='assets/images/instructions-velocity.png' class='img-velocity' />
		</div>
		<div>
			JAM ALONG TO YOUR BEAT BY TAPPING THE <span>PADS</span> BUTTON; press and hold pad to reassign sound
		</div>
	</div>

	<div class='btn-start'>
		CREATE YOUR OWN JAM
	</div>

	<div class='btn-instructions'>
		VIEW INSTRUCTIONS
	</div>

</div>