<div class='wrapper'>

	<div class='logo' />

	<div class='message'>
		LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPSCING ELIT. IN A MATTIS QUAM.
	</div>

	<div class='btn-start'>
		CREATE YOUR OWN JAM
	</div>

</div>