
<div class='wrapper'>
	<div class='notification'>
		<div class='headline'>
			LOOKS LIKE MPC AHH IS NOT SUPPORTED BY YOUR DEVICE
		</div>
		<div class='requirements'>
			MINIMUM REQUIREMENTS ANDROID 4.2 / iOS 6
		</div>
		<div class='desktop'>
			PLEASE VISIT THIS SITE ON YOUR DESKTOP OR
		</div>
		<div class='btn-listen'>
			LISTEN TO SAMPLE BEATS FROM THE MPC-AHH &gt;
		</div>
	</div>

	<div class='samples'>
		<div class='headline'>
			LISTEN TO SAMPLE BEATS FROM THE MPC AHH
		</div>

		<table>
			<tr>
				<td class='right-bottom'>
					<div class='btn-play icon-play'/>
					<div class='label'>
						HIP-HOP SAMPLE
					</div>
				</td>
				<td class='bottom'>
					<div class='btn-play icon-play'/>
					<div class='label'>
						ROCK SAMPLE
					</div>
				</td>
			</tr>
			<tr>
				<td class='right'>
					<div class='btn-play icon-play'/>
					<div class='label'>
						DANCE SAMPLE
					</div>
				</td>
				<td>
					<div class='btn-play icon-play'/>
					<div class='label'>
						COKE SAMPLE
					</div>
				</td>
			</tr>
		</table>

	</div>
</div>