
{{!-- DESKTOP Styles --}}

{{#if isDesktop}}

	<div id='container-main'>
		<div id='container-bottom'>

		</div>
	</div>



{{!-- MOBILE Styles --}}

{{else}}

	<div id='container-main'>
		<div class='top-bar'>
			<div class='logo' />
		</div>

	</div>
{{/if}}