
.container-landing


   background: white
   z-index: 1 !important

   > .wrapper

      +center-everywhere
      width: 788px
      height: 273px


      +respond-mobile
         width: 360px
         height: 170px


   .logo

      background: url("#{$images}/logo.svg") no-repeat
      display: inline-block
      width: 358px
      height: 60px
      margin-bottom: 45px

      +respond-mobile
         width: 180px
         height: 30px
         margin-bottom: 15px


   .landing

      +respond-desktop
         margin-top: -20px

      .message

         font-size: 29px
         letter-spacing: 1px
         line-height: 28px
         color: $black
         margin-bottom: 50px
         display: inline-block

         +respond-desktop
            width: 458px

         +respond-mobile
            font-size: 22px
            margin-bottom: 25px
            line-height: 22px


   .instructions
      display: none
      opacity: 0

      div
         font-size: 20px
         text-transform: uppercase
         margin-bottom: 30px
         //opacity: 0

      .first
         margin-top: -10px


      .img-track
         width: 534px
         height: 30px

      .img-velocity
         width: 220px
         height: 67px

      img
         margin-top: 10px

      span
         padding: 7px
         background: $grey


   .btn-start

      @extend .border-button--red
      cursor: pointer
      width: 256px
      height: 56px
      padding: 15px
      font-size: 26px
      letter-spacing: 1px

      +respond-mobile
         width: 210px
         height: 40px
         font-size: 22px
         padding: 7px



   .btn-instructions
      position: relative
      top: 20px
      font-size: 13px
      opacity: 0
      cursor: pointer

      +respond-mobile
         display: none


