
.container-share

   z-index: 2 !important

   > .wrapper

      +center-everywhere
      width: 600px
      height: 570px

      +respond-mobile
         height: 100%
         margin-top: 50px



      .name, .title, .message
         @extend .miso-regular


      .title
         font-size: 72px
         height: 50px
         color: white
         text-transform: uppercase

         +respond-mobile
            font-size: 45px
            height: 30px


      .name
         font-size: 30px
         height: 50px
         color: white
         text-transform: uppercase

         +respond-mobile
            font-size: 22px
            height: 30px


      .message
         font-size: 18px
         color: white
         margin-top: -10px



      .btn-start
         @extend .border-button--white
         cursor: pointer
         width: 256px
         height: 56px
         padding: 15px
         font-size: 26px
         letter-spacing: 1px
         position: absolute
         bottom: 0px
         left: 50%
         margin-left: -128px

         +respond-mobile
            width: 210px
            height: 40px
            font-size: 22px
            padding: 7px
            margin-left: -110px
            top: 0



      .container-btn
         top: -23px
         display: inline-block
         margin-left: -44px
         position: relative

         .icon-play, .icon-pause
            font-size: 40px
            color: white
            position: absolute
            top: 0
            cursor: pointer




