.container-visualizer

   width: 100%

   > .wrapper

      .container-bottles
         height: 234px


      .vis-bottle
         background: $red
         position: absolute
         z-index: 10
         padding: 0
         margin: 0
         width: 72px
         height: 234px

         +gpu

         .bottle-bg-white
            background: white
            width: 68px
            height: 231px
            position: absolute
            left: 2px
            top: 3px

            +gpu


         .bottle-bg
            background: #8F0B04
            width: 67px
            height: 234px
            position: absolute
            left: 2px

            +gpu

// Preload
.bottle-mask
   background: url("#{$images}/bottle-mask.png") no-repeat
   background-size: 72px 239px
   width: 72px
   height: 236px
   position: absolute


.container-bubbles
   position: absolute
   width: 100%
   height: 100%



$bubble-size: 12px

.bubbles-container
   position: fixed
   top: 0
   height: 100%
   width: 100%
   background-color: transparent
   pointer-events: none


.bubble
   display: block
   position: absolute
   top: -1%
   border-radius: 50%
   +border-radius( 50%, 50% )
   border: 2px solid white

   +gpu

   +respond-mobile
      border: 2px solid black

   &.small
      height: $bubble-size / 2
      width: $bubble-size / 2
      margin-top: ($bubble-size / 2) / - 2

   &.medium
      width: $bubble-size
      height: $bubble-size
      margin-top: $bubble-size / -2

   &.big
      width: $bubble-size * 2
      height: $bubble-size * 2
      margin-top: ($bubble-size * 2) / - 2