#container-visualizer

   width: 100%

   > .wrapper
      background: url("#{$images}/placeholders/desktop/placeholder-visualization.png") no-repeat
      width: 1038px
      height: 236px
      //height: 231px

      +center-everywhere
      +gpu

      top: 100px
