<div class='btn-close'>
	X
</div>

<div class='wrapper'>

	<div class='form-wrapper'>

		<h1>
			Share Your Beat
		</h1>

		<div class='container-form'>
			<div class='input-group'>
				<span class='label-input'>Title</span>
				<input class='input-title' placeholder='title' />
			</div>

			<div class='input-group'>
				<span class='label-input'>Name</span>
				<input class='input-name' placeholder='name' />
			</div>

			<div class='input-group textarea'>
				<span class='label-input'>Message</span>
				<textarea class='input-message' placeholder='MESSAGE' />

				</textarea>
			</div>

			<div class='btn-select-service'>
				<div class='text'>
					Select Your Service
				</div>

				<div class='preloader' />
			</div>
		</div>

		<div class='container-preview'>

		</div>

	</div>

</div>