<div class='btn-close'>
	Close
</div>

<h1>
	Share Your Beat
</h1>

<div class='container-form'>
	<div class='input-group'>
		<span class='label-input'>Name</span>
		<input class='input-name' />
	</div>

	<div class='input-group'>
		<span class='label-input'>Title</span>
		<input class='input-title' />
	</div>

	<div class='input-group'>
		<span class='label-input'>Message</span>
		<textarea class='input-message' />

		</textarea>
	</div>
</div>

<div class='services-container'>
	<div class='btn-select-service'>
		Select Your Service
	</div>

	<div class='services'>

	</div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />