<h1>Component Viewer</h1>

<br />
<p>
	<a href="http://localhost:3333/test/html/">Mocha Test Runner</a>
</p>

<br />
<ul>
	<li><a href='#kit-selection'>Kit Selection</a></li>
	<li><a href="#bpm-indicator">BPM Indicator</a></li>
	<li><a href="#instrument-selector">Instrument Selector</a></li>
	<li><a href="#sequencer-square">Sequencer Square</a></li>
	<li><a href="#sequencer-track">Sequencer Track</a></li>
	<li><a href="#sequencer">Sequencer</a></li>
</ul>