<h1>MPC Component Viewer</h1>

<br />
<p>
	<a href="source/test/html">MPC Ahh Mocha Unit Tests</a>
</p>

<br />
<ul>
	<li><b>Pages</b></li>
	<li><a href='#landing'>Landing</a></li>
	<li><a href='#create'>Create</a></li>
	{{!-- <li><a href='#share'>Share</a></li> --}}
	<li></li>
	<li><b>Individual components</b></li>
	<li><a href='#kit-selection'>Kit Selection</a></li>
	<li><a href="#bpm-indicator">BPM Indicator</a></li>
	<li><a href="#instrument-selector">Instrument Selector</a></li>
	<li><a href="#pattern-square">Pattern Square</a></li>
	<li><a href="#pattern-track">Pattern Track</a></li>
	<li><a href="#sequencer">Sequencer</a></li>
	<li><a href="#full-sequencer">Full Sequencer</a></li>
	{{!-- <li><a href="#pad-square">Pad Square</a></li> --}}
	<li><a href="#live-pad">LivePad</a></li>
</ul>