<h1>Component Viewer</h1>

<br />
<p>
	Make sure that <b>httpster</b> is running in the <b>source</b> route (npm install -g httpster) <br/>
	<a href="http://localhost:3333/test/html/">Mocha Test Runner</a>
</p>

<br />
<ul>
	<li><a href='#kit-selection'>Kit Selection</a></li>
	<li><a href="#bpm-indicator">BPM Indicator</a></li>
	<li><a href="#instrument-selector">Instrument Selector</a></li>
	<li><a href="#pattern-square">Pattern Square</a></li>
	<li><a href="#pattern-track">Pattern Track</a></li>
	<li><a href="#sequencer">Sequencer</a></li>
</ul>