<table class='container-pads'>
	{{#each padTable.rows}}
		<tr>
			{{#each tds}}
				<td id="{{{id}}}">

				</td>
			{{/each}}
		</tr>
	{{/each}}
</table>


<div class='container-instruments'>
	{{#each instrumentTable}}
		<div class='container-instrument'>
			<h3>
				<b>{{{label}}}</b>
			</h3>

			{{#each instruments}}
				<div class='instrument'>
					{{{label}}}
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>