
{{!-- DESKTOP Styles --}}

{{#if isDesktop}}

	<div class='wrapper'>
		<div class='left-wrapper'>
			<div class='left'>
				<table class='container-pads'>

				</table>
			</div>
		</div>
		<div class='right'>
			<div class='container-instruments'>

			</div>
		</div>
	</div>



{{!-- MOBILE Styles --}}
{{else}}

	<div class='wrapper'>
		<div class='left-wrapper'>
			<div class='left'>
				<table class='container-pads'>

				</table>
			</div>
		</div>

		<div class='right'>

			<div class='top'>
				<div class='container-play-pause'>
					play pause
				</div>
			</div>

			<div class='middle'>
				<div class='container-instruments'>

				</div>
			</div>

			<div class='bottom'>
				<div class="btn-back btn">&lt; Back</div>
			</div>
		</div>
	</div>

{{/if}}