<div class='border-dark' />

{{#if isDesktop}}
	<div class='pad-number'>
		<span class='text'>
			PAD {{{index}}}
		</span>
	</div>

	<div class='key-code'>
		<span class='text'>
			{{{keycode}}}
		</span>
	</div>
{{/if}}

<div class='container-icon'>
	<div class='icon'>

	</div>
</div>