<div class='wrapper'>

	<div class='container-sequencer'>

		<div class='column-0'>
			{{!-- <img style='position:relative;' src='/assets/images/placeholders/desktop/placeholder-leftcol.png' /> --}}

			<div class='container-toggle'></div>
			<div class='container-play-pause'></div>
		</div>

		<div class='column-1'>
			<div class='sequencer'>

				<div class='pattern-selector'>
					Pattern Selector
				</div>

			</div>
			<div class='live-pad'>LivePad</div>
		</div>

		<div class='column-3'>
			<div class='bpm'>BPM</div>
		</div>

		<div class="column-4">
			<div class='btn-share'>
				SHARE
			</div>
		</div>
	</div>
</div>

