<div class='btn-export'>EXPORT</div>
<div class='btn-share'>SHARE</div>
<div class='container-kit-selector'>
	<div class='kit-selector'></div>
</div>
<div class='container-visualization'>Visualization</div>

<div class='container-sequencer'>

	<div class='instrument-selector'>Instrument Selector</div>
	<div class='sequencer'>Sequencer</div>
	<div class='bpm'>BPM</div>

</div>