


<div class='wrapper'>


	{{!-- DESKTOP Styles --}}

	{{#if isDesktop}}

		<div class='bg-circle' />

		<div class='btn-increase btn-circle'>
			+
		</div>

		<div class='label-bpm'>
			BPM
		</div>

		<div class='bpm-value'>
			0
		</div>

		<div class='btn-decrease btn-circle'>
			-
		</div>




	{{!-- MOBILE Styles --}}

	{{else}}
		<div class='label-bpm'>
			BPM
		</div>

		<div class='btn-decrease'>
			-
		</div>

		<div class='bpm-value'>
			0
		</div>

		<div class='btn-increase'>
			+
		</div>

	{{/if}}

</div>