
<div class='wrapper'>

	<div class='bg-circle' />

	<div class='btn-increase btn-circle'>
		+
	</div>

	<div class='label-bpm'>
		BPM
	</div>

	<div class='bpm-value'>
		0
	</div>

	<div class='btn-decrease btn-circle'>
		-
	</div>

</div>