/* /////////////////////////////////////////////////////

FONT DEFINITIONS

///////////////////////////////////////////////////// */

.gotham-bold {
  font-family: 'Conv_GothamHTF-Bold';
}

.miso-bold {
  font-family: 'misobold';
}

.miso-light {
  font-family: 'misolight';
}

.miso-regular {
  font-family: 'misoregular';
}

.mono-social {
  font-family: 'MonoSocialIconsFont';
}




/* Webfont Includes
--------------------------------------------- */

@font-face {
  font-family: 'Conv_GothamHTF-Bold';
  src: url($webfonts + '/GothamHTF-Bold.eot');
  src: local('☺'), url($webfonts + '/GothamHTF-Bold.woff') format('woff'), url($webfonts + '/GothamHTF-Bold.ttf') format('truetype'), url($webfonts + '/GothamHTF-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'misobold';
    src: url($webfonts + '/miso-bold-webfont.eot');
    src: url($webfonts + '/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($webfonts + '/miso-bold-webfont.woff') format('woff'),
         url($webfonts + '/miso-bold-webfont.ttf') format('truetype'),
         url($webfonts + '/miso-bold-webfont.svg#misobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misolight';
    src: url($webfonts + '/miso-light-webfont.eot');
    src: url($webfonts + '/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url($webfonts + '/miso-light-webfont.woff') format('woff'),
         url($webfonts + '/miso-light-webfont.ttf') format('truetype'),
         url($webfonts + '/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misoregular';
    src: url($webfonts + '/miso-regular-webfont.eot');
    src: url($webfonts + '/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($webfonts + '/miso-regular-webfont.woff') format('woff'),
         url($webfonts + '/miso-regular-webfont.ttf') format('truetype'),
         url($webfonts + '/miso-regular-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'MonoSocialIconsFont';
  src: url($webfonts + '/MonoSocialIconsFont-1.10.eot'); /* IE9 Compat Modes */
  src: url($webfonts + '/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($webfonts + '/MonoSocialIconsFont-1.10.woff') format('woff'), /* Modern Browsers */
       url($webfonts + '/MonoSocialIconsFont-1.10.ttf')  format('truetype'), /* Safari, Android, iOS */
       url($webfonts + '/MonoSocialIconsFont-1.10.svg#6bfd47e09490f6412b1214e93a0be9a1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'mpc-icons';
  src:url($webfonts + '/mpc-icons.eot?eq38tc');
  src:url($webfonts + '/mpc-icons.eot?#iefixeq38tc') format('embedded-opentype'),
    url($webfonts + '/mpc-icons.woff?eq38tc') format('woff'),
    url($webfonts + '/mpc-icons.ttf?eq38tc') format('truetype'),
    url($webfonts + '/mpc-icons.svg?eq38tc#mpc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'mpc-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kit-rock-tom:before {
  content: "\e601";
}
.icon-kit-rock-snare:before {
  content: "\e602";
}
.icon-kit-rock-ride:before {
  content: "\e603";
}
.icon-kit-rock-kick:before {
  content: "\e606";
}
.icon-kit-rock-hihat:before {
  content: "\e607";
}
.icon-kit-dance-tap:before {
  content: "\e608";
}
.icon-kit-dance-ride:before {
  content: "\e609";
}
.icon-kit-dance-kick2:before {
  content: "\e60a";
}
.icon-kit-dance-kick:before {
  content: "\e60b";
}
.icon-kit-dance-clap:before {
  content: "\e60f";
}
.icon-kit-coke-voice3:before {
  content: "\e610";
}
.icon-kit-coke-voice2:before {
  content: "\e611";
}
.icon-kit-coke-voice1:before {
  content: "\e612";
}
.icon-kit-coke-twist:before {
  content: "\e613";
}
.icon-kit-coke-can:before {
  content: "\e614";
}
.icon-kit-coke-bottle:before {
  content: "\e615";
}
.icon-kit-hiphop-voice:before {
  content: "\e616";
}
.icon-kit-hiphop-snare:before {
  content: "\e617";
}
.icon-kit-hiphop-kick2:before {
  content: "\e618";
}
.icon-kit-hiphop-kick1:before {
  content: "\e619";
}
.icon-kit-hiphop-hihat-open:before {
  content: "\e61a";
}
.icon-kit-hiphop-hihat-closed:before {
  content: "\e61b";
}
.icon-twitter:before {
  content: "\e60c";
}
.icon-tumblr:before {
  content: "\e60d";
}
.icon-facebook:before {
  content: "\e60e";
}
.icon-gear:before {
  content: "\e600";
}
.icon-play:before {
  content: "\e604";
}
.icon-pause:before {
  content: "\e605";
}

