/* /////////////////////////////////////////////////////

FONT DEFINITIONS

///////////////////////////////////////////////////// */

.gotham-bold {
  font-family: 'Conv_GothamHTF-Bold';
  font-weight: normal;
  font-style: normal;
}

.miso-bold {
  font-family: 'misobold';
  font-weight: normal;
  font-style: normal;
}

.miso-light {
  font-family: 'misolight';
  font-weight: normal;
  font-style: normal;
}

.miso-regular {
  font-family: 'misoregular';
  font-weight: normal;
  font-style: normal;
}


/* Webfont Includes
--------------------------------------------- */

@font-face {
  font-family: 'Conv_GothamHTF-Bold';
  src: url('fonts/GothamHTF-Bold.eot');
  src: local('☺'), url('fonts/GothamHTF-Bold.woff') format('woff'), url('fonts/GothamHTF-Bold.ttf') format('truetype'), url('fonts/GothamHTF-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'misobold';
    src: url('miso-bold-webfont.eot');
    src: url('miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-bold-webfont.woff') format('woff'),
         url('miso-bold-webfont.ttf') format('truetype'),
         url('miso-bold-webfont.svg#misobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misolight';
    src: url('miso-light-webfont.eot');
    src: url('miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-light-webfont.woff') format('woff'),
         url('miso-light-webfont.ttf') format('truetype'),
         url('miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misoregular';
    src: url('miso-regular-webfont.eot');
    src: url('miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-regular-webfont.woff') format('woff'),
         url('miso-regular-webfont.ttf') format('truetype'),
         url('miso-regular-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
