/* /////////////////////////////////////////////////////

PROJECT NAME
matt@wintr.us @ WINTR

///////////////////////////////////////////////////// */


/* Compass Imports
--------------------------------------------- */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";



/* Variables
--------------------------------------------- */

$webfonts:  '../webfonts';
$images:    '../images';

//$break-small:     785px;
$break-small:     285px;

$base-color:      #000;
$highlight-color: #ea2427;
$red:             #E41E2B;
$grey:            #E5E5E5;
$grey-dark:       #A6A8AB;
$black:           #000;
$white:           #fff;

$body-font: "misobold", Helvetica, Arial, sans-serif;


/* Sprites
--------------------------------------------- */

// USE WITH RETINA SPRITES MIXIN
// $sprites: sprite-map("sprites/*.png", $spacing: 2px);
// $sprites2x: sprite-map("sprites_x2/*.png", $spacing: 4px);


/* Imports
--------------------------------------------- */

@import "libs/hidpi";
@import "libs/retina-sprites";
@import "utils";
@import "base";
@import "utils/responsive";
@import "fonts";
@import "ui";
@import "views/landing";
@import "views/visualizer";
@import "views/create/create";
@import "views/create/bpm";
@import "views/create/sequencer";
@import "views/create/kit-selector";
@import "views/create/instrument-selector";
@import "views/create/live-pads";
@import "views/create/share-modal";
@import "views/share";
@import "layout";