
<div class='wrapper'>
	<table class='sequencer'>
		<tr>

			{{!-- .stepper th for instrument --}}
			<th></th>

			{{!-- .stepper th for hidden mute button --}}
			<th style='display:none'></th>

			{{#repeat 8}}
				<th class='stepper'></th>
			{{/repeat}}
		</tr>
	</table>
</div>