
.container-bpm

   +disable-selection
   $btn-left-pos: 66px
   width: 100%

   +respond-mobile
      //float: left
      width: 224px
      height: 53px
      display: inline-block




   > .wrapper
      position: relative
      display: inline-block
      width: 176px
      height: 133px

      +respond-mobile
         width: 100%
         height: 53px
         padding-top: 20px





   .bg-circle
      $size: 126px
      +border-radius( $size, $size )

      background: white
      border: 4px solid $red
      position: absolute
      left: 26px
      top: 4px
      width:  $size
      height: $size
      z-index: 1



   .label-bpm, .bpm-value
      @extend .label
      pointer-events: none
      z-index: 2



   .label-bpm
      font-size: 20px
      top: -18px


      +respond-mobile
         display: inline-block
         font-size: 14px
         width: 40px
         left: -4px
         top: -4px



   .bpm-value
      color: $red
      font-size: 63px
      top: -4px

      +respond-mobile
         display: inline-block
         width: 80px
         font-size: 50px
         top: 0
         letter-spacing: 0



   .btn-circle

      $padding: 8px
      $size: 45px
      @extend .button
      @extend .miso-regular
      +border-radius( $size, $size )
      +btn-hover-transition

      background: $red
      color: $white
      font-size: 70px
      width: $size
      height: $size
      padding: $padding
      padding-top: $padding + 2
      position: relative

      &:hover
         +btn-hover-transition
         background: black



   .btn-decrease
      left: -$btn-left-pos




   .btn-increase
      left: $btn-left-pos



   .btn-decrease, .btn-increase
      cursor: pointer

      +respond-mobile
         display: inline-block
         left: 0
         font-size: 50px
         width: 20px



