
.container-create

   > .wrapper
      width: 100%
      height: 275px
      padding-top: 6px



   #container-sequencer
      float: left
      width: 88%



   .pattern-selector
      float: left
      width: 12%
      max-width: 95px
      padding-left: 4%



   .live-pad
      position: absolute
      top: 0
      width: 100%



   .selected
      background: $grey-dark !important



   .btn-steps, .btn-pads

      @extend .button
      +btn-hover-transition
      background: $red
      font-size: 20px
      color: white
      width: 72px
      height: 40px
      padding: 10px

      &.selected
         color: $grey

      &:hover
         +btn-hover-transition
         background: black
         color: white




   .btn-share

      @extend .button
      +btn-hover-transition
      background: black
      color: white
      cursor: pointer
      padding: 10px
      font-size: 20px
      letter-spacing: 1px
      width: 108px
      height: 40px
      position: relative

      &:hover
         +btn-hover-transition
         background: $red



   .container-toggle, .container-play-pause

      +disable-selection
      cursor: pointer
      white-space: nowrap



   .container-play-pause

      position: relative
      height: 80px
      margin-top: 20px
      overflow: hidden


      .btn-play, .btn-pause

         +btn-hover-transition
         color: $red
         font-size: 80px
         position: absolute
         top: 0
         left: 0
         width: 100%


         &:hover
            +btn-hover-transition
            color: black



      .btn-play




      .btn-pause
