

{{!-- DESKTOP View --}}

{{#if isDesktop}}

	<div class='wrapper'>

		<div class='bg-half-circle' />

		<div class='label-select'>
			Select Kit
		</div>

		<div class='btn-left'>
			&lt;
		</div>
		<div class='label-kit'>
			<div>
				DRUM KIT
			</div>
		</div>

		<div class='btn-right'>
			&gt;
		</div>
	</div>




{{!-- MOBILE View --}}
{{else}}

	<div class='wrapper'>
		<div class='btn-left btn'>
			&lt;
		</div>
		<div class='label-kit'>
			<div>
				DRUM KIT
			</div>
		</div>

		<div class='btn-right btn'>
			&gt;
		</div>
	</div>

{{/if}}