
<div class='wrapper'>
	<table class='sequencer'>
		<tr>

			{{#if isDesktop}}
				{{!-- .stepper th for instrument --}}
				<th></th>
			{{/if}}


			{{!-- .stepper th for hidden mute button --}}
			<th style='display:none'></th>

			{{#repeat 8}}
				<th class='stepper'></th>
			{{/repeat}}
		</tr>
	</table>
</div>