<div class='wrapper'>

	{{#if isDesktop}}
		<div class='btn-close'>
			X
		</div>
	{{/if}}

	<div class='form-wrapper'>

		{{#unless isDesktop}}
			<div class='btn-close-share'>
				&lt; Back
			</div>
		{{/unless}}

		<h1>
			Share Your Beat
		</h1>

		<div class='container-form'>

			{{#if isDesktop}}
				<div class='message'>
					Please name your beat before sharing
				</div>
			{{/if}}

			<div class='input-group text-input'>
				<span class='label-input'>Title</span>
				<input class='input-title' placeholder='title' />
			</div>

			<div class='input-group text-input name'>
				<span class='label-input'>Name</span>
				<input class='input-name' placeholder='name' />
			</div>

			{{!-- <div class='input-group textarea'>
				<span class='label-input'>Message</span>
				<textarea class='input-message' placeholder='MESSAGE' />

				</textarea>
			</div> --}}

			<div class='btn-select-service'>
				<div class='text'>
					Select Your Service
				</div>

				<div class='preloader' />
			</div>
		</div>

		<div class='container-preview'>

		</div>

	</div>

</div>