<div class='wrapper'>

	<div class='container-text'>
		<div class='name'>
			DJ NOOBEATS
		</div>

		<div class='title'>
			SUMMAH JAMZ
		</div>

		<div class='message'>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
		</div>
	</div>

	<div class='btn-start'>
		CREATE YOUR OWN JAM
	</div>

</div>



<div class='btn-play'>

</div>