<div class='logo-coke'></div>

<div class='wrapper'>

	<div class='container-text'>
		<div class='title'>

		</div>

		<div class='name'>

		</div>

		{{#if isDesktop}}

			<div class='message'>

			</div>
		{{else}}

			<div class='container-btn'>

			</div>

		{{/if}}

	</div>

	<div class='btn-start'>
		CREATE YOUR OWN JAM
	</div>

</div>


<div class='btn-play'>

</div>