<div class='wrapper'>

	<div class='container-text'>
		<div class='title'>

		</div>

		<div class='name'>

		</div>

		<div class='message'>

		</div>
	</div>

	<div class='btn-start'>
		CREATE YOUR OWN JAM
	</div>

</div>



<div class='btn-play'>

</div>